body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: fit-content;
    /* Ensures the form is vertically centered */
}

.leftBoxForm {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.RightBoxValidation {
    width: 50%;
    /* Equal width for validation box */
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.validationForAll {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #f0f0f0;
    /* Match body background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Ensure table borders collapse nicely */
}

td {
    padding: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

button:hover {
    background-color: #45a049;
}



.validation {
    margin-bottom: 10px;
}

.validation div {
    margin-bottom: 5px;
    color: red;
}